@import "../../app.scss";

.services {
	background: linear-gradient(180deg, #0c0c1d, #111132);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.textContainer {
		flex: 1;
		align-self: flex-end;
		display: flex;
		align-items: center;
		gap: 20px;
		margin-top: 2rem;

		@include mobile {
			align-self: center;
			text-align: center;
			flex-direction: column;
		}

		p {
			font-weight: 200;
			font-size: 1.2rem;
			color: gray;
			text-align: right;
		}

		hr {
			width: 18rem;
			border: none;
			border-top: 0.5px solid gray;

			@include mobile {
				width: 10rem;
			}
		}
	}

	.titleContainer {
		flex: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		// max-width: 50rem;
		margin: auto;

		@include mobile {
			width: 100%;
		}

		.title {
			display: flex;
			align-items: center;
			gap: 3rem;


			@include mobile {
				flex-direction: column;
				text-align: center;
				gap: 20px;
			}


			img {
				width: 15rem;
				height: 4rem;
				border-radius: 50px;
				object-fit: cover;

				@include mobile {
					width: 200px;
					height: 50px;
				}
			}

			h1 {
				font-size: 4rem;
				font-weight: 100;

				@include mobile {
					font-size: 36px;
				}
			}

			button {
				width: 15rem;
				height: 4rem;
				border-radius: 3rem;
				background-color: orange;
				border: none;
				font-size: 1.2rem;
				cursor: pointer;

				@include mobile {
					font-size: 16px;
					width: 150px;
					height: 50px;
				}
			}
		}
	}

	.listContainer {
		flex: 2;
		display: flex;
		max-width: 80%;
		margin: auto;

		.box {
			padding: 3rem;
			border: 0.5px solid gray;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 0.5rem;
			margin-bottom: 1rem;
			// margin-left: .5rem;

			@include mobile {
				border: none;
				align-items: center;
				gap: 20px;
				padding: 10px;
			}

			h2 {
				margin-bottom: 1rem;

			}

			p {
				@include mobile {
					display: none;
				}
			}

			button {
				margin-top: 1.5rem;
				padding: 0.6rem;
				background-color: orange;
				border: none;
				cursor: pointer;
				font-size: 1rem;
				font-weight: 500;

				@include mobile {
					background-color: transparent;
					border: 1px solid orange;
					border-radius: 5px;
					color: orange;
					width: 50%;
					padding: 5px;
				}
			}
		}
	}
}