@import "../../app.scss";
.portfolio {
  position: relative;
  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 3rem;
    text-align: center;
    color: orange;
    font-size: 2rem;

    .progressBar {
      height: 0.3rem;
      background-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 80%;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8rem;

      .ImageContainer {
        flex: 1;
        height: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .textcontainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
          font-size: 3.5rem;
        }
        p {
          color: gray;
          font-size: 1.3rem;
        }
        .btn {
          background-color: orange;
          border: none;
          border-radius: 2rem;
          padding: 0.8rem;
          width: 10rem;
          cursor: pointer;
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
    }
  }
}
