@import "../../app.scss";

.navbar {
  // display: flex;
  height: 100px;

  .wrapper {
    height: 100%;
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .social {
      display: flex;
      gap: 20px;
      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}
