@import "../../app.scss";
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  color: black;
  // z-index: 2;
  .bg {
    z-index: 555;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    background: #fff;

    @include mobile{
    width: 50%;

    }

    .links {
      text-decoration: none;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      background: white;
      font-weight: 800;
      color: black;
      margin-top: 0;
      // color: red($color: #000000);

      @include mobile{
        font-size: x-large;
      }
      a {
        text-decoration: none;
        font-size: 1.5rem;

        @include mobile{
          font-size: 1.3rem;
        }
      }

      // .navlink {
      //   text-decoration: none;
      //   color: #333;
      //   padding: 5px 10px;
      //   // background-color: red;
      // }
      // .navlink:hover {
      //   color: orange;
      // }
      // .navlink.active {
      //   font-weight: bold;
      //   color: #007bff;
      // }
    }
  }

  button {
    z-index: 1111;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 25px;
    top: 25px;
    // color: #000000;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}
